*{
    font-family: 'Raleway';
}
.aboutme{
    padding-left: 2%;
    border: 1px solid black;
    width: 100%;
}
.aboutp{
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    vertical-align: middle;
}
.me{
    display: inline-block;
    width: 30%;
    margin-left: 20%;
    vertical-align: middle;
}
.links{
    margin-left: 5%;
}
.bar{
    position: fixed;
    top: 0;
    width: 100%;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
h2{
    margin-left: 5%;
}
.projSec{
    background-image: url('../../assets/pback.png');
    height: 100%%;
    width: 100%;
    min-height: 810px;
    min-width: 540px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.projectTitle{
    color: #cccccc;
    margin-bottom: 3%;
}
.projectTitle{
    text-align: center;
    margin-right: 5%;
}
.contactTitle{
    text-align: center;
    margin-right: 5%;
    color: #cccccc;
}
.contactInfo{
    text-align: center;
    color: #cccccc;
}
.contact{
    padding-top: 10px;
    padding-bottom: 20px;
    background: #000033; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000033, #003a6b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000033, #003a6b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000033, #003a6b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000033, #003a6b); /* Standard syntax */
}
table{
    margin: auto;
    border-spacing: 10px;
    border-collapse: separate;
    padding: 10px;
}
.spacer{
    height: 50px;
}
.logo{
    width: 25px;
    height: 25px;
}
.yellow{
    color: #e5d93c;
}
