<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Thank You</title>
    </head>
    <body>
        <div class="spacer"></div>
        <div class="message">
            <h1>Thank You! Your message has been sent!</h1>
            <h4>I will get in touch with you shortly! Until then feel free to check out more of my projects!</h4>
            <button type="submit" [routerLink]='["/"]' href='#projects' class='thanks' name="button">Take Me Back!</button>
        </div>

    </body>
</html>
