<body>
    <h1>MEAN Belt Exam</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uaJ-WJ0V12Q" frameborder="0" allowfullscreen></iframe>
    <hr>
    <h4><mark style="background-color: #00cc00">Description</mark></h4>
    <p class="desc">Given 4.5 hours to complete the exam. I was expected to
        create a full stack MEAN project and deploy it. The prompt
        was Polls. I had to create a web application that allowed
        users to sign-in and create/delete polls with four options and answer other
        polls created by other users. Polls can only be deleted by people with the same name.
        There is also a logout function which clears a user's name.
    </p>
    <div class="sidebyside1">
        <h4><mark style="background-color: #00cc00">Features</mark></h4>
        <ul>
            <li>Unauthenticated Login</li>
            <li>Form Validations</li>
            <li>Displaying all polls from Database</li>
            <li>Allowing users to view and vote on polls</li>
            <li>Use of CRUD operations</li>
            <li>Was Deployed on AWS</li>
        </ul>
    </div>
    <div class="sidebyside2">
        <h4><mark style="background-color: #00cc00">Technologies</mark></h4>
        <ul>
            <li>MongoDB</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>Angular4</li>
            <li>JavaScript</li>
            <li>AWS</li>
        </ul>
    </div>
</body>
