<body>
    <h1>Python Belt Exam</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CD8jWVV-0fQ" frameborder="0" allowfullscreen></iframe>
    <hr>
    <h4><mark style="background-color: #ebe03c">Description</mark></h4>
    <p class="desc">Given 4.5 hours to complete the exam. I was expected to
        create a full stack django project and deploy it. The prompt
        was Friends. I had to create an application that allowed
        users to login/register and add or remove other users as friends.
        I also had to add a view user profile function.
    </p>
    <div class="sidebyside1">
        <h4><mark style="background-color: #ebe03c">Features</mark></h4>
        <ul>
            <li>Unique Login / Registration</li>
            <li>Form Validations</li>
            <li>Displaying all users from Database</li>
            <li>Allowing users to friend other users</li>
            <li>Allowing users to view other user's profile</li>
            <li>Use of CRUD operations</li>
            <li>Password Encryption</li>
            <li>Was Deployed on AWS</li>
        </ul>
    </div>
    <div class="sidebyside2">
        <h4><mark style="background-color: #ebe03c">Technologies</mark></h4>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>SQLite</li>
            <li>Bcrypt</li>
            <li>Regex</li>
            <li>AWS</li>
        </ul>
    </div>
    <div class="technologies">
        <img class='py' src="../../assets/python-exam/python.png" alt="python image">
        <img class='dj' src="../../assets/python-exam/django.png" alt="django image">
        <img class='sq' src="../../assets/python-exam/SQLite.png" alt="SQLite image">
        <img class='aw' src="../../assets/python-exam/aws.png" alt="aws image">
    </div>
</body>
